.Home {
}

.error {
  padding: var(--spacing-medium);
  text-align: center;
}

.errorMessage {
}

.errorRetry {
  margin-top: var(--spacing-medium);
  appearance: none;
  background-color: transparent;
  border: 0;
  padding: 0;
  font-size: 1rem;
  color: var(--color-blue);
  text-decoration: underline;
}

.credits {
  padding: var(--spacing-medium);
  text-align: center;
}

.smaller,
.smaller a {
  font-size: 0.8rem;
  color: var(--color-gray-darker);
}

.smaller a {
  text-decoration: underline;
}

.love {
  color: var(--color-red);
  font-weight: bold;
}
