.SearchResults {
  --margin-horizontal: 16px;
  --padding-horizontal: 12px;
  margin: -20px var(--margin-horizontal) 0 var(--margin-horizontal);
  padding: 20px var(--padding-horizontal) var(--spacing-xsmall)
    var(--padding-horizontal);
  border-radius: calc(var(--spacing-small) * 2);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid var(--color-gray-light);
  border-top: none;
  list-style-type: none;
  background-color: var(--color-white);
  z-index: 1;
}

.station {
  margin: 0 var(--spacing-small);
}

.link {
  display: flex;
  padding: var(--spacing-small) 0;
  text-decoration: none;
  align-items: center;
}

.lines {
  display: flex;
  min-width: 85px;
  justify-content: flex-end;
}

.lineId {
  mix-blend-mode: multiply;
  --width-height: 25px;
}

.lineId:not(:first-child) {
  margin-left: -5px;
}

.name {
  text-decoration: underline;
  text-decoration-color: var(--color-gray);
}
