.TimeTable {
  background-color: var(--color-white);
}

.stationNameGroup {
  display: flex;
  padding: var(--spacing-xsmall) var(--spacing-small);
  color: var(--color-white);
  background-color: var(--color-gray-darker);
  align-items: center;
}

.stationName {
  flex-grow: 1;
}

.updateData {
}

.updateDataButton {
  appearance: none;
  background-color: transparent;
  border: 0;
  padding: 0;
  color: var(--color-white);
  text-decoration: underline;
}

.line {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-gray-lightest);
}

.lineId {
  --width-height: 50px;
  font-size: 35px;
  margin: calc(var(--spacing-small) + 5px);
}

.directions {
  flex-grow: 1;
  width: calc(100% - 50px - 3 * var(--spacing-small));
  margin: var(--spacing-small);
  margin-left: 0;
}

.direction:not(:first-child) {
  margin-top: var(--spacing-small);
}

.directionName {
  text-transform: uppercase;
  font-size: 85%;
  font-weight: bold;
}

.trains {
  display: flex;
  align-items: flex-end;
}

.train {
  width: calc(33.3334% - var(--spacing-medium));
}

.train:not(:first-child) {
  width: 33.3334%;
  padding-left: var(--spacing-medium);
}

.minutes {
  font-size: 140%;
  min-width: 70px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.minutesFirst {
  font-size: 180%;
}

.minutesMin {
}

.lastStationName {
  color: var(--color-gray-dark);
  font-size: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.lastUpdate {
  font-size: 80%;
  text-align: right;
  padding: var(--spacing-xsmall);
}
