.Home {
}

.credits {
}

.smaller,
.smaller a {
  font-size: 0.8rem;
  color: var(--color-gray-dark);
}

.smaller a {
  text-decoration: underline;
}

.love {
  color: var(--color-red);
  font-weight: bold;
}
