.SearchResults {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: var(--color-white);
}

.station {
  margin: 0 var(--spacing-small);
}

.link {
  display: flex;
  padding: var(--spacing-small) 0;
  text-decoration: none;
  align-items: center;
}

.lines {
  display: flex;
  min-width: 85px;
  margin-right: var(--spacing-small);
  justify-content: flex-end;
}

.lineId {
  mix-blend-mode: multiply;
  --width-height: 25px;
}

.lineId:not(:first-child) {
  margin-left: -5px;
}

.name {
  text-decoration: underline;
  text-decoration-color: var(--color-gray);
}
