.SearchResults {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: var(--color-white);
}

.station {
  margin: 0 var(--spacing-small);
  border-bottom: 1px solid var(--color-gray-lightest);
}

.station:last-child {
  border-bottom-width: 3px;
}

.link {
  display: flex;
  padding: var(--spacing-small) 0;
  text-decoration: none;
  align-items: center;
}

.lines {
  display: flex;
  min-width: 85px;
  margin-right: var(--spacing-small);
  justify-content: flex-end;
}

.lineId {
  --width-height: 25px;
}

.lineId:not(:first-child) {
  margin-left: -5px;
}

.name {
  text-decoration: underline;
  color: var(--color-blue);
}
