.TimeTable {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: stretch;
}

.directions {
}

.directionsError {
  color: var(--color-gray-dark);
}

.direction {
}

.direction:not(:last-child) {
  margin-bottom: var(--spacing-small);
}

.directionName {
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: -2px;
  text-transform: uppercase;
}

.times {
  font-weight: 300;
  font-size: 1.2rem;
}

.minute {
  white-space: nowrap;
}
