.TimeTable {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: stretch;
}

.directions {
}

.directionsError {
  color: var(--color-gray-dark);
}

.direction {
}

.direction:not(:last-child) {
  margin-bottom: var(--spacing-medium);
}

.directionName {
  font-weight: normal;
  font-size: 0.9rem;
  margin-bottom: 3px;
  text-transform: uppercase;
}

.times {
  font-weight: 300;
  font-size: 1.4rem;
}

.minute {
  white-space: nowrap;
}
