.App {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: stretch;
}

.App > div[role='group'] {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: stretch;
}

.loading {
  flex-grow: 1;
  justify-content: center;
}

.splashLineId {
  --width-height: 80px;
  align-self: center;
  flex-grow: 0;
  flex-basis: auto;
  font-size: 70px;
}
