:root {
  --color-black: #000;
  --color-gray-darker: #494d4e;
  --color-gray-dark: #818a8c;
  --color-gray: #bec9cc;
  --color-gray-lightest: #e5e5e5;
  --color-white: #fff;
  --color-love: #e21a1a;

  --spacing-xsmall: 8px;
  --spacing-small: 15px;
  --spacing-medium: 30px;
  --spacing-large: 60px;
}

html,
input,
textarea,
select,
button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

html,
a {
  color: var(--color-black);
  text-decoration: none;
}

body {
  background-color: var(--color-gray);
}

button {
  cursor: pointer;
}

:global html,
:global body,
:global #root {
  height: 100%;
}
